<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<package name="com.mmong.vo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/mmong/config/mapper/memberMapper.xml" />
		<mapper resource="com/mmong/config/mapper/administratorMapper.xml"/>
		<mapper resource="com/mmong/config/mapper/administratorNoticeMapper.xml" />
		<mapper resource="com/mmong/config/mapper/userMapper.xml" />
		<mapper resource="com/mmong/config/mapper/groupMapper.xml" />
		<mapper resource="com/mmong/config/mapper/boardMapper.xml"/>
		<mapper resource="com/mmong/config/mapper/replyMapper.xml"/>
		<mapper resource="com/mmong/config/mapper/groupDateMapper.xml"/>
		<mapper resource="com/mmong/config/mapper/groupMemberMapper.xml"/>
		<mapper resource="com/mmong/config/mapper/messageMapper.xml" />
	</mappers>
</configuration>