<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmong.config.mapper.groupDateMapper">

<!-- groupDate resultMap -->
<resultMap type="groupDate" id="groupDate-resultmap">
	<result column="no" property="no"/>
	<result column="MEET_DATE" property="groupDate"/>
	<result column="place" property="place"/>
	<result column="title" property="title"/>
	<result column="group_no" property="groupNo"/>
	<result column="member_id" property="memberId"/>
</resultMap>

<!-- meetMember resultMap -->
<resultMap type="meetMember" id="meetMember-resultmap">
	<result column="group_date_no" property="groupDateNo"/>
	<result column="group_member_no" property="groupMemberNo"/>
</resultMap>

<sql id="select-groupDate">
	SELECT no, MEET_DATE, place, title, group_no, member_id
	FROM group_date
</sql>

<!-- groupDate 등록  -->
<insert id="insertGroupDate" parameterType="groupDate">
	<selectKey keyProperty="no" resultType="int" order="BEFORE">
		SELECT GROUP_DATE_NO_SEQ.nextval FROM dual
	</selectKey>
	INSERT INTO group_date VALUES(
		#{no}, #{groupDate}, #{place}, #{title}, #{groupNo}, #{memberId}
	)
</insert>

<!-- No으로 groupDate 조회 -->
<select id="selectGroupDate" parameterType="int" resultMap="groupDate-resultmap">
	<include refid="select-groupDate"/>
	WHERE no=#{value}
</select>

<!-- memberId로 memberNo 조회 -->
<select id="selectMemberNo" parameterType="map" resultType="int">
	SELECT	no
	FROM group_member
	WHERE member_id=#{memberId}
	AND group_no=#{groupNo}
</select>

<!-- 일정 참여자 등록 -->
<insert id="insertMeetMember" parameterType="meetMember">
	INSERT INTO meet_member VALUES(
		#{groupDateNo}, #{groupMemberNo}
	)
</insert>

<!-- groupDateNo 으로 meetmember 조회 -->
<select id="selectMeetMemberList" parameterType="int" resultMap="meetMember-resultmap">
	SELECT group_member_no
	FROM meet_member
	WHERE group_date_no=#{value}
</select>

<!-- memberNo으로 memberId 조회-->
<select id="selectMemberId" parameterType="int" resultType="string">
	SELECT member_id
	FROM group_member
	WHERE no=#{value}
</select>

<!-- memberId로 nickName 조회 -->
<select id="selectNickname" parameterType="string" resultType="string">
	SELECT nickName
	FROM member
	WHERE member_id=#{value}
</select>




</mapper>