<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmong.config.mapper.replyMapper">

<!-- reply reulyMap -->
<resultMap type="reply" id="reply-resultmap">
	<result column="no" property="no"/>
	<result column="content" property="content"/>
	<result column="reply_date" property="replyDate"/>
	<result column="member_id" property="memberId"/>
	<result column="board_no" property="boardNo"/>
</resultMap>

<resultMap type="reply" id="reply-member-resultMap" extends="reply-resultmap">
	<association property="member" javaType="Member">
		<result column="member_id" property="memberId"/>
		<result column="member_name" property="memberName" />
		<result column="nickname" property="nickName"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="member_address" property="memberAddress"/>
		<result column="member_email" property="memberEmail"/>
		<result column="member_picture" property="memberPicture"/>
	</association>
</resultMap>

<sql id="select-reply">
	SELECT no,content,reply_date,member_id,board_no
	FROM reply
</sql>

<!-- reply 등록 -->
<insert id="insertReply" parameterType="reply">
	<selectKey keyProperty="no" resultType="_int" order="BEFORE">
		SELECT REPLY_NO_SEQ.nextval FROM dual
	</selectKey>
	INSERT INTO reply VALUES(
		#{no},#{content},#{replyDate},#{memberId},#{boardNo}
	)
</insert>

<!-- boardNo으로 reply List 가져오기 -->
<select id="selectReplyByBoardNo" parameterType="_int" resultMap="reply-resultmap">
	<include refid="select-reply"/>
	WHERE board_no=#{value}
</select>


<!-- replyNo으로 memberId 갖고오기 -->
<select id="selectMemberId" parameterType="_int" resultType="string">
	SELECT member_id
	FROM reply
	WHERE no=#{value}
</select>


<!-- replyNo이랑 memberId 로 nickname 가져오기 -->
<select id="selectNickNameByNo" parameterType="map" resultType="string">
	SELECT m.nickname
	FROM reply r JOIN member m ON r.member_id=m.member_id
	WHERE m.member_id=#{memberId}
	AND r.no=#{replyNo}
</select>

<!-- boardNo으로 등록된 댓글 수 조회 -->
<select id="selectReplyCount" parameterType="int" resultType="int">
	SELECT COUNT(no)
	FROM reply
	WHERE board_no=#{value}
</select>

<!-- replyNo로 리플 수정하기 -->
<update id="updateReply" parameterType="reply">	
	UPDATE reply
	SET		content=#{content},
				reply_date=#{replyDate}
	WHERE no=#{no} AND member_id=#{memberId}
</update>


<!-- replyNo로 삭제하기 -->
<delete id="deleteReply" parameterType="map">
	DELETE reply
	WHERE no=#{replyNo}
	AND member_id=#{memberId}
</delete>

<!-- boardNo로 삭제하기 -->
<delete id="deleteReplyByBoardNo" parameterType="int">
	DELETE reply
	WHERE board_no=#{value}
</delete>


<!-- memberId로 리플 갯수 조회 -->
<select id="selectMyReplyCount" parameterType="string" resultType="int">
	SELECT COUNT(no)
	FROM reply
	WHERE member_id=#{value}
</select>

<!-- memberId로 리플 조회하기 -->
<select id="selectMyReply" parameterType="map" resultMap="reply-resultmap">
<![CDATA[
SELECT no, content, reply_date, member_id, board_no
	FROM(
		SELECT  rownum rnum, no, content, reply_date, member_id, board_no
			FROM(
				SELECT no, content, reply_date, member_id, board_no
				FROM reply
				WHERE member_id=#{memberId}
				)
		WHERE rownum <= #{endItemNo}
	)
	WHERE rnum >= #{beginItemNo}
]]>
</select>



</mapper>